<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Tabela</title>
</head>
    <body>
        <div class="container">
            <hr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <%header.forEach(col => {%>
                            <th><%=col%></th>   
                        <%})%>  
                    </tr>
                </thead>
                <tbody>
                    <%rows.forEach(row => {%>
                        <tr>
                            <%row.forEach(r => {%>
                                <td><%=r%></td>
                            <%})%>  
                        </tr>
                    <%})%>
                </tbody>
            </table>
            <hr>
        </div>
    </body>
</html>